<!DOCTYPE html>
<html>
<head>
  <title>Hackforchange</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>



  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
